#featuredContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    background-color: rgb(173, 232, 217);
}


#featured_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
}


#image img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


#featured_right {
    flex: 1;
    min-width: 300px;
    flex-direction: column;
}

#songs {
    display: flex;
    
    gap: 20px;
}


#songs .song {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 8px;
}


#songs .song img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}


#songs .song p {
    margin: 4px 0;
    font-weight: 500;
    flex-direction: column;
}

